/** General Style Info **/

body {
	/*background-color:#1b1b1b;
	/*background-repeat:no-repeat;
	/*background-attachment:fixed;
	/*background-position:center; 
	/* These properties specifically for Safari, which does support multiple 
	backgrounds */
	font-family:Arial, Helvetica, sans-serif;
	color: black;
	}

span{
  
}
a {
	
}
a:hover {

}
a img {
	border:none;
}
h1, h2, h3, h4 {
	
}
h1 {
	font-size: 120%;
	font-weight: bold;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 165%;
}
h4 {
	font-weight: normal;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.clear{
  clear:both;
}


/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}

/** Forms **/

/* ojo con este form para arreglar*/
/**
form {
  /*clear: both;
  color : #5B5B5B;
  padding: 16px 20px;  
} **/
/**
label {
display: block;
font-size: 90%;
padding-left: 1em;
padding-right: 0.5em;
}**/

input{

}
select {
 
  
}
/**
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}

fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
}
form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}
**/

/** Project's Styles **/
#container {
	width:960px;
	margin: 0 auto;
}
/** Start Home **/



.header_wrap{
  width:100%;
  
}

.color_home{
  color:#0DAACE;
}

/** Content **/

.content_wrap{
  background:url("../img/board_cont.png") no-repeat;
  
}



/** Header **/

#header_wrap{
  height:162px;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background:#fbfbfb;
  width: 960px;
 
}



#pages .login{
       display:none;
}

/** Header Form Login **/



/** Footer Home **/



/** End Home **/

/**  Start Pages   **/
  #content-wrap{
  } 

  #main-navigation{
    background:#AA0000;
    width:760px;
    height:71px;
    float:left;
  }
  
  #second-navigation{
    background:#3c3c3c;
    width:200px;
    float:left;
  }
  
 
  
/** End Pages **/


#main-navigation{
    width:960px;
    height:32px;
    margin-top:5px;
    font-size:18px;
  }
  
  
#header h1 {
	float: left;
	margin-left: 22px;
	margin-bottom:10px;
	}

#header h1 a {
	display: block;
	width: 261px;
	height: 130px;
	background: url("../img/logo.png") no-repeat;
	text-decoration:none;
	color:black;
	text-indent: -999px;
	}

#header .info {
	margin: 70px 10px 0px 0px;
	float: right;
}

#header p.slogan {
	font-size: 17px;
	color:black;
	float:left;
	margin-right: 50px;
	margin-top: 15px;
	
}

#header p.slogan strong{
	font-size: 21px;
	color:#CB2128;
}

#header .reloj {
	float:left;
	width: 180px;
}

#header .reloj img{
	float:left;
}

#header .plugin-hora{
	float:left;
	width: 105px;
	margin-left:5px;
	margin-top:9px;
}

#header .reloj p{
	margin:0px;
	display: block;
}

#header .reloj .dia {
	font-size:10px;
}

#header .reloj .hora {
	font-size:15px;
}

#header .reloj .fecha {
	font-size: 10px;
}
  
  .nav{
  
  }
  
  ul.main_nav{
	font-size: 16px;
	padding-bottom: 30px;
    padding-top: 10px;
	background: url("../img/trama-amarillo-nav.png") repeat-x;
	color:black;
	right: 14px;
    position: absolute;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
  }
  
  .main_nav  li {
    float: left;
    margin: 0 2px;
  }

  .main_nav li {
	display:inline;
	padding: 5px 15px;
	background: url("../img/linea-separadora-footer.png") left repeat-y;
	}
	
	
  .main_nav li:first-child {
	background:none;
	}
	
	
  .main_nav li a{
    color:black;
    text-decoration: none;
  }
  
  .contenido_header{
  	height: 165px;
	position: relative;
	width: 100%;
  }
  
  .prueba{
    position: absolute;
    bottom:0;
  }
  
  .banner-falabella{
    background: url("../img/trama-verde-banner.png") repeat-x;
    width: 383px;
    height:117px;
    float: left;
     border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -moz-box-shadow: 0px 2px 3px #969696; /* for Firefox 3.5+ */
    -webkit-box-shadow: 0px 2px 3px #969696; /* for Safari and Chrome */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=3);
    margin-right:9px;
  }
  
  .banner-falabella img{
  	float:right;
  	padding-top:5px;
  }
  .banner-falabella p{
  	text-align: center;
  	float:left;
  	margin:0;
  	color: white;
  	width: 290px;
  	margin: 8px 0 0 45px;
 
  }
  
   .banner-registro{
    margin-right:9px;
    background-color:white;
    width: 383px;
    padding: 41.5px 0;
    float: left;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -moz-box-shadow: 0px 2px 3px #969696; /* for Firefox 3.5+ */
    -webkit-box-shadow: 0px 2px 3px #969696; /* for Safari and Chrome */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=3);
  }
  
  .banner-registro img{
  	float:right;
  	padding-top:5px;
  }
  
  
   .banner-registro .leyenda {
  	float:left;
  	margin: 0 15px;
  }
  
  .banner-registro .leyenda strong{
  	font-size: 15px;
  }
  
  .banner-registro .leyenda p{
  	margin:0;
  	color: black;
  	font-size: 12px;
  }
  
  .banner-registro .registro{
  	background: url("../img/trama-amarillo.png") repeat-x;
  	border-radius: 15px;
    -moz-border-radius: 15px;
    float: left;
    padding:5px 0;
    width:150px;
    text-align: center; 
    text-decoration: none;
    color:black;
  }
  
  #header .login{
  	background: url("../img/trama-cuenta.png") repeat-x;
  	border-radius: 15px;
    -moz-border-radius: 15px;
    float: left;
    height:116px;
    width:175px;
    text-align: center; 
    text-decoration: none;
    color:black;
  }
  
  #header .login h1{
  	margin:0;
  	text-align: center;
  	float: none;
  	padding-top:5px; 
  	 
  }
  
  #header .login label{
  	float: left;
    font-size: 10px;
    line-height: 22px;
    margin-right: 5px;
    text-align: right;
    width: 65px;
  }
  #header .login input[type=text]{
  	float:left;
  	width: 90px;
  	border: 0;
  }
  #header .login input[type=password]{
  	float:left;
  	width: 90px;
  	border:0;
  }
  
  #header .login input[type=submit]{
  	border:0;
  	background: url("../img/trama-verde.png") repeat-x;
  	border-radius: 15px;
    -moz-border-radius: 15px;
    color: white;
    height: 21px;
    text-align: center;
    float:right;
    margin-right:15px;
    width: 80px;
  	margin-top:3px;
  }
  
  #header .login a{
  	color:black;
  	text-decoration: none;
  	font-size: 10px;
  	float:right;
  	margin-right: 10px;
  }
  
  .animacion {
	background: #efbf00;
	width: 100%;
	height: 240px;
	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    margin: 5px 0;
    -moz-box-shadow: 2px 2px 3px #969696; /* for Firefox 3.5+ */
    -webkit-box-shadow: 2px 2px 3px #969696; /* for Safari and Chrome */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=3);
  }
  
  #main-content{
	float:left;
	width: 770px;
  }
  
  #main-content ul h2{
	background:#4d4d4d;
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
  }
  
  #left-content{
	float:left;
	width: 200px;
	text-align: center;
	margin-top:15px;
  }
  
  #right-content{
	float:left;
	width: 732px;
	margin-left:20px;
	margin-top:15px;
  }
  
  .estilo-borde{
  	width: 100%;
  	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
	-moz-box-shadow: 0px 2px 3px #969696; /* for Firefox 3.5+ */
    -webkit-box-shadow: 0px 2px 3px #969696; /* for Safari and Chrome */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=3);
    background-color:white;
    margin-bottom: 10px;
  }
  
  .medio-de-pago{
  	
  }
  
  .medio-de-pago img{
	margin-bottom:10px;
  }
  
  .social{
  
  }
   
  .social img{
  	margin-bottom:15px;
  }
  
  .seguridad {
    
  }
  
  .ultimo-ganador{
  }
  
  .proxima-oferta{
  	
  }
  
  #left-content h1{
  	margin:0;
  }
  
  #left-content p.mensaje{
  	padding-bottom:10px;
  	font-size: 12px;
  }
  
  #left-content .pvp{
  	font-size: 13px;
  	color:#6C6D70;
  }
  
  #left-content .precio{
  	font-size: 20px;
  	color:#CB2128;
  }
  
  #left-content .fecha{
  	font-size: 20px;
  	color:#CB2128;
  }
  
  #left-content .usuario{
  	font-size: 13px;
  	color:#6C6D70;
  }
  
  
  #left-content .titulo-verde{
  	background: url("../img/trama-verde.png") repeat-x;
  	height: 33px;
  	line-height:33px;
  	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
  	color:white;
  	font-weight: normal;
  	margin-bottom:10px;
  }
  
  #left-content .titulo-amarillo{
  	background: url("../img/trama-amarillo.png") repeat-x;
  	height: 33px;
  	line-height:33px;
  	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
  	color:black;
  	font-weight: normal;
  	margin-bottom:10px;
  }
  
  #right-content h1{
  	margin:0;
  	margin-bottom: 5px;
  }
  
  #right-content .titulo-amarillo{
  	background: url("../img/trama-amarillo.png") repeat-x;
  	height: 33px;
  	line-height:33px;
  	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
  	color:black;
  	font-weight: normal;
  	text-align: center;
  }
  
  #right-content .boton{
  	background-color: #f8dc38;
  	line-height:20px;
  	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
  	padding:5px 0;
    width:120px;
    margin: 0 auto; 
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 17px;
    display:block;
    margin-bottom:10px;
  }
  
  /** Subastas activas **/
  
  #right-content .usuario-ultima-oferta{
  	font-size: 15px;
  }
  
  #right-content .pvp{
  	font-size: 13px;
  	color:#6C6D70;
  }
  
  #right-content .precio{
  	font-size: 20px;
  	color:#CB2128;
  }
  
  #right-content .contador{
  	font-size: 18px;
  	color:#CB2128;
  }
  
  
  #right-content ul{
  	float:left;
	margin-top: 5px;
	text-decoration: none;
	color:black;
  }
  
  #right-content ul p{
  	margin:2px 0;
  }

  #right-content ul li{
	display: block;
	float:left;
	width: 234px;
	text-align: center;
	margin-bottom: 15px;
	border-radius: 15px 15px 15px 15px;
	background-color:white;
    -moz-border-radius: 15px 15px 15px 15px;
	-moz-box-shadow: 0px 2px 3px #969696; /* for Firefox 3.5+ */
    -webkit-box-shadow: 0px 2px 3px #969696; /* for Safari and Chrome */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=3);
  }

  #right-content ul li.centro{
	margin: 0 15px;
  }

  #right-content ul a:hover {
	color: white;
  }

  #right-content ul img {
  	margin-bottom: 15px;
  	height: 200px;
  	width: 200px;
  }
  

/** Footer**/

#footer{
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	margin-top:10px;
	margin-bottom:10px;
    background: url("../img/trama-verde-footer.png") repeat-x;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	behavior:url("../files/border-radius.htc");
}

#footer_links {
	float: left;
    padding: 1px;
    width: 100%;
}

#footer_links ul {
    padding: 15px 0;
	font-size: 15px;
	text-align: center;
	}

#footer_links li {
	display:inline;
	padding: 5px 15px;
	background: url("../img/linea-separadora-footer.png") left repeat-y;
	}

#footer_links li:first-child {
	background:none;
	}


#footer_links ul a {
	line-height: 24px;
	}	

#footer_links ul a:link, #footer_links ul a:active, #footer_links ul a:visited {
	text-decoration: none;
	font-size: 15px;
	color:white;
	}
#footer_links ul a:hover{
	color:white;
	}

#footer h4{
	font-size: 12px;
	float:left;
	margin-left: 318px;
    margin-top: 15px;
}


/** End Footer **/


