/** General Style Info **/

body {
	/*background-color:#1b1b1b;
	/*background-repeat:no-repeat;
	/*background-attachment:fixed;
	/*background-position:center; 
	/* These properties specifically for Safari, which does support multiple 
	backgrounds */
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	color: #424143;
	font-size:12px;
	}

span{
  
}
a {
	
}
a:hover {

}
a img {
	border:none;
}
h1, h2, h3, h4 {
	
}
h1 {
	font-size: 120%;
	font-weight: bold;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 165%;
}
h4 {
	font-weight: normal;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.clear{
  clear:both;
}


/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}


input{

}
select {
 
  
}


/** Project's Styles **/
#container {
	width:960px;
	margin: 0 auto;
}
/** Start Home **/



.header_wrap{
  width:100%;
  
}

.color_home{
  color:#0DAACE;
}

/** Content **/
#content{
	margin-top:0;
	clear:both;
}
.content_wrap{
  background:url("../img/board_cont.png") no-repeat;
  
}
.corner{
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	background-color: white;
	-moz-box-shadow: 0 2px 3px #969696;
    -webkit-box-shadow: 0 2px 3px #969696;
    box-shadow: 0 2px 3px #969696;


}
.corner15{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
/** Header **/

#header{
	width:711px;
	height: 234px;
	padding-left:240px;
	background-image:url("../img/logo.jpg");
	background-repeat:no-repeat;
	background-position:left top;	
	margin: 4px 0 2px 0;
}
#header .banner-referido{
	float:left;
	width:214px;
	height:102px;
	background-image:url("../img/slogan.jpg");
	background-repeat:no-repeat;
	background-position:center top;	
	padding-top:133px;
}
#header .wrapper{
	width:497px;
	float:left;
}
#main-menu{
	background:#fad814;
	text-align:center;
	height:20px;
	padding-left:16px;
}
#main-menu li{
	display:block;
	float:left;
	margin-right:8px;
	margin-top:3px;
}
#main-menu li.last{
	margin-right:0;
}
#main-menu li a{
	text-decoration:none;
	height:20px;
	line-height:20px;
	color:#2d2d2e;
	height:13px;
	font-size:12px;
	
}
#header .banner-principal {
	clear:both;	
	width: 496px;
	height:209px;
	margin-top:3px;
}
/*END HEADER*/

#pages .login{
       display:none;
}
.login h2.logueado{
	margin-bottom:0.5em;
	margin-top: 0.5em;

}



/** Header Form Login **/



/** Footer Home **/



/** End Home **/

/**  Start Pages   **/
  #content-wrap{
  } 

  #main-navigation{
    background:#AA0000;
    width:760px;
    height:71px;
    float:left;
  }
  
  #second-navigation{
    background:#3c3c3c;
    width:200px;
    float:left;
  }
  
 
  
/** End Pages **/


#main-navigation{
    width:960px;
    height:32px;
    margin-top:5px;
    font-size:18px;
  }
  

  .animacion {
	background: #efbf00;
	width: 100%;
	height: 240px;
	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    margin: 5px 0;
    -moz-box-shadow: 2px 2px 3px #969696; /* for Firefox 3.5+ */
    -webkit-box-shadow: 2px 2px 3px #969696; /* for Safari and Chrome */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=3);
  }
  
  #main-content{
	float:left;
	width: 770px;
  }
  
  #main-content ul h2{
	background:#4d4d4d;
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
  }
  
  #left-content{
	float:left;
	width: 200px;
	text-align: center;
  }
  
  #right-content{
	float:left;
	width: 732px;
	margin-left:20px;
	min-height: 177px;
  }
  
  .estilo-borde{
  	width: 100%;
  	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
	-moz-box-shadow: 0px 2px 3px #969696; /* for Firefox 3.5+ */
    -webkit-box-shadow: 0px 2px 3px #969696; /* for Safari and Chrome */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=3);
    background-color:white;
    margin-bottom: 10px;
  }
  
  .medio-de-pago{
  	
  }
  
  .medio-de-pago img{
	margin-bottom:10px;
  }
  
  .social{
  
  }
   
  .social img{
  	margin-bottom:15px;
  }
  
  .seguridad {
    
  }
  
  .ultimo-ganador{
  	padding-bottom:1em;
  }
  
  .proxima-oferta{
  	padding-bottom:1em;
  }
  
  #left-content h1{
  	margin:0;
  }
  
  #left-content p.mensaje{
  	padding-bottom:10px;
  	font-size: 12px;
  }
  
  #left-content .pvp{
  	font-size: 13px;
  	color:#6C6D70;
  }
  
  #left-content .precio{
  	font-size: 20px;
  	color:#ee1a24;
  }
  
  #left-content .fecha{
  	font-size: 20px;
  	color:#ee1a24;
  }
  
  #left-content .usuario{
  	font-size: 13px;
  	color:#6C6D70;
  }
  
  
  #left-content .titulo-verde{
  	background: url("../img/trama-verde.png") repeat-x;
  	padding: 2.5px 0;
  	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
  	color:white;
  	font-weight: normal;
  	margin-bottom:10px;
  }
  
  #left-content .titulo-amarillo{
  	background: url("../img/trama-amarillo.png") repeat-x;
	padding: 2.5px 0;
  	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
  	color:#424143;
  	font-weight: normal;
  	margin-bottom:10px;
  }
  
  #right-content h1{
  	margin:0;
  	margin-bottom: 5px;
  }
  
  #right-content .titulo-amarillo{
  	background: url("../img/trama.png") repeat-x;
	padding:4px 0;
  	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
	 -webkit-border-radius: 5px 5px 5px 5px;
  	color:#424143;
  	font-weight: normal;
  	text-align: center;
  }
  #right-content  .mi-cuenta h2.titulo-amarillo{
	width:80%;
	margin:0 auto;
}
  #right-content .boton{
  	background-color: #f8dc38;
  	line-height:20px;
  	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
  	padding:5px 0;
    width:120px;
    text-decoration: none;
    color:#424143;
    font-weight: bold;
    font-size: 17px;
    display:block;
    margin:0.5em auto 0 auto;
  }
  
  /** Subastas activas **/
  
  #right-content .usuario-ultima-oferta{
  	font-size: 15px;
  }
  
  #right-content .pvp{
  	font-size: 13px;
  	color:#6C6D70;
  }
  
  #right-content .precio{
  	font-size: 20px;
  	color:#ee1a24;
  }
  
  #right-content .contador{
  	font-size: 18px;
  	color:#ee1a24;
  	margin:0.5em 0;
  }
  .pvp, .precio, .contador, .ultimo-usuario{
  	min-height:1em;
  }
  
  #right-content ul{
  	float:left;
	margin-top: 5px;
	text-decoration: none;
	color:#424143;
  }
  
  #right-content ul p{
  	margin:2px 0;
  }

  #right-content ul li{
	display: block;
	float:left;
	width: 234px;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
	border-radius: 15px 15px 15px 15px;
	background-color:white;
    -moz-border-radius: 15px 15px 15px 15px;
	-moz-box-shadow: 0px 2px 3px #969696; /* for Firefox 3.5+ */
    -webkit-box-shadow: 0px 2px 3px #969696; /* for Safari and Chrome */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=3);
    padding:1em 0;
  }

  #right-content ul li.centro{
	margin: 0 15px;
  }

  #right-content ul a:hover {
	color: white;
  }

  #right-content ul img {
  	margin-bottom: 15px;
  	height: 150px;
  	width: 200px;
  }
  

/** Footer**/

#footer{
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	margin-top:10px;
	margin-bottom:10px;
    background: url("../img/trama-verde-footer.png") repeat-x;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	behavior:url("../files/border-radius.htc");
}

#footer_links {
	float: left;
    padding: 1px;
    width: 100%;
}

#footer_links ul {
    padding: 5px 0;
	font-size: 16px;
	text-align: center;
	}

#footer_links li {
	display:inline;
	padding: 5px 15px;
	background: url("../img/linea-separadora-footer.png") left repeat-y;
	}

#footer_links li:first-child {
	background:none;
	}


#footer_links ul a {
	line-height: 24px;
	}	

#footer_links ul a:link, #footer_links ul a:active, #footer_links ul a:visited {
	text-decoration: none;
	font-size: 15px;
	color:white;
	}
#footer_links ul a:hover{
	color:white;
	}

#footer h4{
	font-size: 12px;
	float:left;
	margin-left: 318px;
    margin-top: 15px;
}


/** End Footer **/

/** Formularios **/
.forms{
	padding:20px;
}
.forms form{
	width:65%;
	margin:0 auto;
	padding: 20px 0;
}
.forms .input, .forms .submit{
	display:block;
	clear:both;
	margin: 20px 0;
}
.forms label{
	width:32%;
}
.forms input{
	width:65%;
	display:block;
	float:right;
}
.forms input[type="submit"] {
	clear:both;
    background: url("../img/trama-verde.png") repeat-x scroll 0 0 transparent;
    border: 0 none;
    border-radius: 15px 15px 15px 15px;
    color: white;
    float: right;
    height: 21px;
    margin-right: 15px;
    margin-top: 3px;
    text-align: center;
    width: 80px;
}
.registro{
	
}
.form-container{
	width:100%;
	margin: 0 auto;	
	background-image: url(../img/foto_registro.jpg);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding-bottom:55px;
}
.form-container form{
	
}
.form-container fieldset{
	padding:1em;
	width:287px;
	padding-left:38px;
	
}
.form-container .input,.form-container .submit{
	margin-top:10px;
	clear: both;
}

#registerForm .layer{
	margin-top:10px;
}
.volver{
	margin:0 auto;
	width: 115px;
	display:block;
	height:29px;
	margin-top:50px;
}
.form-container img{
	padding-left:38px;
	padding-top:15px;
}
.form-container input{

}
.form-container label{
	padding-right: 5px;
	display:block;
	margin-bottom:3px;
}
.form-container .submit input{
	background: url(../img/enviar.png);
	width: 116px;
	height:40px;
	border:0;
	padding:0;
	float:right;
}
.form-container .input input{
	width:100%;
	background-color: #fff7c9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.layer input{
	float:left;
	height:10px;
}
.layer label{
	font-size:10px;
	display:block;
	height: 17px;
    line-height: 17px;
	vertical-align: middle;
}
/*INTERFAZ DE USUARIO REGISTRADO*/
.clear{
	clear:both;
}
.datos-usuarios{
	
}
.datos p{
	margin-bottom:7px;
}
.panel{
	padding:1em 1em;
}
.datos-usuarios .imagen{
	width: 250px;
	min-height:200px;
	float:left;
	border:2px #424143 solid;
}
.datos-usuarios .datos{
	float:left;
	margin-left: 1em;
}
.datos .info{
	width:80%;
	margin:0 auto;
}
.datos-usuarios .datos span{
	font-weight: bold;
	font-size:16px;
	color:#414042;
	width: 150px;
	display:block;
	float:left;
	clear:left;
}
.subastas-activas{
	clear:both;
	margin-top: 2em;
}

.datos-usuarios .menu a{
	/*padding:5px;
	background:url("../img/trama-amarillo.png") repeat-x scroll 0 0 transparent;
	border-radius: 10px 10px 10px 10px;
	text-decoration: none;
	color:#424143;
	display:block;*/
	float:left;
	/*margin-left:0.5em;
	margin-top: 1em;*/
}
/*OVERLAY*/
	#register-overlay, #login-overlay{
	
		/* must be initially hidden */
		display:none;
		
		/* place overlay on top of other elements */
		z-index:10000;
		
		/* styling */
		background-color:#333;
		background:url("../img/fondo-overlay.jpg");
		
		width:650px;	
		height:395px;
		border:1px solid #666;
		
		/* CSS3 styling for latest browsers */
		-moz-box-shadow:0 0 90px 5px #000;
		-webkit-box-shadow: 0 0 90px #000;	
	
	}
	#register-overlay{
		background:url("../img/pantalla-lightbox.jpg");
		width:699px;
		height:464px;
	}
	#register-overlay input{
		width:133px;
	}
	#register-overlay div.register {
		padding:10px;
		border:1px solid #3B5998;
		background-color:#fff;
		font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
		margin: 0 auto;
	}
	#register-overlay form{
		margin:0;
	}
 	#register-overlay .close, #login-overlay .close {
		background-image:url("../img/close.png");
		position:absolute;
		right:-15px;
		top:-15px;
		cursor:pointer;
		height:35px;
		width:35px;
		z-index:10000;
	}
	#register-overlay h1 , #register-overlay h2{
		color:#4E4E50;
	}
	#register-overlay h1 {
		padding:20px 20px 10px 200px;
		font-size:25px;
		
	}
	#register-overlay h2 {
		padding-left:200px;
		
	}
	#register-overlay h2 span{
		color:#EC3237;
		
	}
	#register-overlay .producto{
		width:482px;
		height:214px;
		float:right;
		margin-top: 20px;
		margin-right: 20px;	
	}
	#register-overlay .banner{
		width:170px;
		height:98px;
		float:left;	
		margin-top:75px;
		background: #B1B1B2;
		font-size:12px;
	}
	#register-overlay .banner h1{
		padding:0;
		font-size:16px;
		margin-bottom: 5px;
	}
	#register-overlay .banner h1,#register-overlay .banner p{
		padding-left:33px;
		padding-right:10px;
		
	}
	
	#register-overlay .imagen{
		width:310px;
		height:214px;
		float:left;	
		border:1px solid #4E4E50;
	}
	#register-overlay .bottom{
		height:60px;
		bottom:0;
		position:absolute;
		font-size:12px;
		width:100%;
	}
	#register-overlay .slogan{
		float:left;
		width:135px;
		margin-left: 20px;
	}
	#register-overlay .slogan span{
		color:#4E4E50;
		display:block;
	}
	#register-overlay .registrate{
		position:absolute;
		width:136px;
		padding-left:46px;
		background-repeat:no-repeat;
		background-position-x: right;
		right: 8px;
		bottom:8px;
	}
	#register-overlay .registrate h1{
		padding:0;
		
	}
	.registrate h1 a {
		color:#EC3237;
		text-decoration: none;
	}
/*PANEL SUBASTAS*/
.subastas-activas{
	
}


#right-content  .index  li{
	margin:0 auto 15px auto;	
	min-height:280px;
}
#right-content  ul#user-subastas {
	width:100%;
}
#right-content  #user-subastas  li{
	width:100%;
	margin:0 auto;	
	min-height:280px;
}
#right-content .delusuario  #user-subastas   li{
	margin: 1em auto;
}
.subastas-activas .imagen, .subastas-activas .ofertas, .acciones-ofertas{
	float:left;
	margin: 2%; 
}
.subastas-activas .imagen{
	width:30%;
}
.subastas-activas .ofertas{
	width:25%;
	height:230px;
	overflow: auto;
	font-size: 13px;
}
.ofertas div.actualizado:nth-child(2n){
	background:white;
	color:#5bb14a;
}
.subastas-activas .acciones-ofertas{
	
	width:30%;
	height: 117px;
	margin-top: 81px;
}
.actualizado{
	background:#5bb14a;
	color:white;
	padding:2px 0;
}
.fecha_vencimiento, .hora_servidor{
	display:none;
}
#right-content ul#subastas-vendidas  li{
	position:relative;
}
#right-content ul#subastas-vendidas  li .mascara{
	position:absolute;
	width:100%;
	height:100%;
	
	opacity:0.4;
	background: url("../img/vendida.png") white;

}
.banner-home{
  width:100%;
  overflow: hidden;
}
.new{
	background: gray;
}
#compra-creditos{
	margin-left: 1em;
	margin-top: 30px;
}
#right-content #vendido{
	background-color: #EE1A24;
}
.message{
	color:#EE1A24;
	font-weight: bold;
}
.referidos a{
padding: 20px 12px;
font-size:32px;
color:#424143;
text-decoration:none;
display:block;
}

.referidos span{
color:#CB2128;
}
#right-content ul.proximas-subastas li.centro{
	margin-top:15px;
}
#contacto .formulario, #contacto .texto{
	float:left;
	width:45%;
	padding:2.5%;
	position:relative;
}
#contacto h1{
	color:#5DB34A;
	font-size:34px;
	margin:1em 0;
}
#contacto .atrapa{
	display:block;
}
#contacto .atrapa img{
float:right;
}
#contacto label{
	color:#5DB34A;
	width:130px;
	display:block;
	float:left;

}
#contacto form div{
	margin-bottom:0.5em;
}
#contacto  input, #contacto  textarea{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	 border-radius:10px;
	 width:292px;	
	 padding:3px;
}
#contacto  input[type=submit]{
	width:100px;
	float:right;
}
.subastas-activas li{
	position:relative;
}
.formulario-login-subasta{
	position:absolute;
	z-index:2;
	width:100%;
	padding:10px 0;
	background:#F8DC38;
	bottom:70px;
	display:none;
	
}
#right-content .formulario-login-subasta h1{
	font-size:25px;
	margin-top:5px;
}
.formulario-login-subasta form{
	width:90%;
	margin: 0 auto;
}
.formulario-login-subasta  label{
	font-size:15px;
	margin-top:4px;
}
.formulario-login-subasta .input{
	
}
.formulario-login-subasta input, .formulario-login-subasta  label{
	clear:left;
	float:left;
	display:block;
	text-align:left;
	width:92px;
	margin-bottom:8px;
}
.formulario-login-subasta .submit{
width:94px;
margin:0 auto;
height:33px;
}
.formulario-login-subasta input{
	clear:none;
	width:113px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin:0 auto;
}
a#olvidar{
	clear:both;
	display: block;
	color:#424143;
	font-size:15px;
	text-decoration:none;
	margin-top:5px;
}

.formulario-login-subasta .submit input{
	background:url(../img/ingresar.png);
	width:94px;
	height:33px;
	border:0;
	margin:0;
	padding:0;
	margin-top:5px;
}

.cerrar-formulario{
	right:5px;
	font-size:10px;
	color:red;
	position:absolute;
	z-index:1000;
	top:3px;
	cursor:pointer;
}
a#boton-registro{
	background:url(../img/registrarse.png);
	width:94px;
	height:33px;
	border:0;
	margin:0;
	padding:0;
	display: block;
	margin: 0 auto;
	margin-top:5px;
}
a#resaltar-registro{
	color:red;
	font-size:15px;
	cursor:pointer;
	text-decoration:none;
}
/*PAGES*/
.pages .WYSIWYG{
	height:580px;
	overflow-y:auto;
}
.subastas-ganadas.elemento{
	
}
#right-content ul.subastas-ganadas ,#right-content ul.subastas-ganadas li{
	width:90%;
	margin:0 auto;
	float:none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	box-shadow:0 0 0 transparent;
	-moz-box-shadow:0 0 0 transparent;
	-webkit-box-shadow:0 0 0 transparent;
	height:180px;
}
#right-content ul.subastas-ganadas .imagen,
#right-content ul.subastas-ganadas .info,
#right-content ul.subastas-ganadas .info-pago{
	float:left;
	
}
#right-content ul.subastas-ganadas .imagen{
	width:30%;
	min-height:180px;
}
#right-content ul.subastas-ganadas .info{
	width:40%;
}
#right-content ul.subastas-ganadas .info-pago{
	width:25%;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow:0 2px 3px #969696;
	-moz-box-shadow:0 2px 3px #969696;
	-webkit-box-shadow:0 2px 3px #969696;
	padding:2.5%;
}
#right-content ul.subastas-ganadas .acciones-ofertas{
	
}
#right-content ul.subastas-ganadas .submit input{
	background:url(../img/pagar.png);
	width: 103px;
	height:38px;
	border:0;
	padding:0;
}
.WYSIWYG.inactivity{
	background:url(../img/fondo_inactividad.jpg);
	width:474px;
	height: 200px;
	margin: 0 auto;
	padding:0;
	padding-top:154px ;
	background-repeat: no-repeat;
	background-position: center center;
	overflow:hidden;
}
.WYSIWYG.inactivity p{
	font-size:36px;
	width:474px;
	text-align:center;
	margin:0;
	padding:0;
	margin-left:10px;
}
.WYSIWYG.inactivity .continuar{
	background:url(../img/continuar.png);
	width:192px;
	height: 67px;
	margin: 0 auto;
	padding:0;
	margin-top:50px;
}
.paquetes{
	background:url(../img/fondo_compra.jpg);
	background-position:bottom right;
	background-repeat:no-repeat;
	width:313px;
	padding-right:386px;
	height: 475px;
	padding-top:33px;
	padding-left:33px;
	
}
table.creditos{
	margin-top:33px;
	font-size:16px;
	overflow:auto;
	margin-bottom: 0;
	height:196px;
}

 table.creditos thead{
	font-size:20px;

}
table.creditos thead td{
	text-align:left;
	padding:2px;
}
table.creditos td{
	text-align:right;
}
 table.creditos .submit input{
 	background:url(../img/boton.png);
	width: 20px;
	height:20px;
	border:0;
	padding:0;
 }
.pins h2{
	font-size:17px;
	color:#66ba4c;
	margin-top:33px;
}
.pins .input{
	margin-top:10px;
}
.pins label{
	font-size:16px;
	margin-right:3px;
}
.pins .input input{
	width:225px;
}
.pins .submit input{
	background:url(../img/redimir.png);
	width: 96px;
	height:34px;
	border:0;
	padding:0;
	float:right;
	margin-top:10px;
}
/*FUNCIONALIDAD LOGIN MI CUENTA*/
.logueado #main-menu   .acceder{
	display:none;
}
#main-menu .mi-cuenta{
	display:none;
}
.logueado #main-menu   .mi-cuenta{
	display:block;
}
.info-creditos{
	display:none;
	position:fixed;
	right:0;
	top:50%;
}
.logueado .info-creditos{
	display:block;
}
/**/
