/** General Style Info **/

body {
	/*background-color:#1b1b1b;
	/*background-repeat:no-repeat;
	/*background-attachment:fixed;
	/*background-position:center; 
	/* These properties specifically for Safari, which does support multiple 
	backgrounds */
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	color: #424143;
	font-size:12px;
	}

span{
  
}
a {
	
}
a:hover {

}
a img {
	border:none;
}
h1, h2, h3, h4 {
	
}
h1 {
	font-size: 120%;
	font-weight: bold;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 165%;
}
h4 {
	font-weight: normal;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.clear{
  clear:both;
}


/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}


input{

}
select {
 
  
}


/** Project's Styles **/
#container {
	width:960px;
	margin: 0 auto;
}
/** Start Home **/



.header_wrap{
  width:100%;
  
}

.color_home{
  color:#0DAACE;
}

/** Content **/
#content{
	margin-top:1em;
}
.content_wrap{
  background:url("../img/board_cont.png") no-repeat;
  
}



/** Header **/
#header{
height:275px;
}
#header_wrap{
  height:162px;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background:#fbfbfb;
  width: 960px;
 
}



#pages .login{
       display:none;
}
.login h2.logueado{
	margin-bottom:0.5em;
	margin-top: 0.5em;

}
#header h2.logueado a{
	font-size:15px;	
	float:none;
}
div.logueado{
	text-align: left;
	padding:3px 5px;
	
}
div.logueado span{
	font-weight: bold;
}


/** Header Form Login **/



/** Footer Home **/



/** End Home **/

/**  Start Pages   **/
  #content-wrap{
  } 

  #main-navigation{
    background:#AA0000;
    width:760px;
    height:71px;
    float:left;
  }
  
  #second-navigation{
    background:#3c3c3c;
    width:200px;
    float:left;
  }
  
 
  
/** End Pages **/


#main-navigation{
    width:960px;
    height:32px;
    margin-top:5px;
    font-size:18px;
  }
  
 #header .info, .header_wrap h1 {
 margin-top: 0;
 }
.header_wrap h1 {
	float: left;
	margin-left: 22px;
	
    position: absolute;
}

#header h1 a {
	display: block;
	width: 261px;
	height: 130px;
	background: url("../img/logo.png") no-repeat;
	text-decoration:none;
	color:#424143;
	text-indent: -999px;
	}

#header .info {
	margin-left: 70px;
	float: right;
	width:600px;
}

#header p.slogan {
	font-size: 17px;
	color:#424143;
	float:left;
	margin-right: 50px;
}

#header p.slogan strong{
	font-size: 21px;
	color:#ee1a24;
}

#header .reloj {
	float:right;
	width: 180px;
}

#header .reloj img{
	
}

#header .plugin-hora{
	float:left;
	width: 105px;
	margin-left:5px;
	margin-top:9px;
}

#header .reloj p{
	margin:0px;
	display: block;
}

#header .reloj .dia {
	font-size:10px;
}

#header .reloj .hora {
	font-size:15px;
}

#header .reloj .fecha {
	font-size: 10px;
}
  
  .nav{
  
  }
  
  ul.main_nav{
	font-size: 16px;
	padding-bottom: 5px;
    padding-top: 5px;
	background: url("../img/trama-amarillo-nav.png") repeat-x;
	color:#424143;
	right: 14px;
    position: absolute;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
  }
  
  .main_nav  li {
    float: left;
    margin: 0 2px;
  }

  .main_nav li {
	display:inline;
	padding: 5px 15px;
	background: url("../img/linea-separadora-footer.png") left repeat-y;
	}
	
	
  .main_nav li:first-child {
	background:none;
	}
	
	
  .main_nav li a{
    color:#424143;
    text-decoration: none;
  }
  
  .contenido_header{
  	height: 180px;
	position: relative;
	width: 100%;
  }
  
  .prueba{
    position: absolute;
    top:35px;
	margin-top:1em;
  }
  .banner-falabella, .banner-registro,  #header .login{
	width: 310px;
	height:112px;
	margin-right:1em;
	float: left;
     border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
    -moz-box-shadow: 0px 2px 3px #969696; /* for Firefox 3.5+ */
    -webkit-box-shadow: 0px 2px 3px #969696; /* for Safari and Chrome */
	box-shadow: 0px 2px 3px #969696;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=3);
  }
  .banner-falabella{
    background: url("../img/trama-verde-banner.png") repeat-x;
  }
  
  .banner-falabella img{
  	float:right;
  	padding-top:5px;
  }
  .banner-falabella p{
  	text-align: center;
  	float:left;
  	margin:0;
  	color: white;
  	width: 290px;
  	margin: 8px 0 0 45px;
 
  }
  
   .banner-registro{
	background: url("../img/trama-cuenta.png") repeat-x scroll 0 0 transparent;
    background-color:white;
  }
  #banner-compra{
  	padding:17.5px 0;
  }
  a.registro{
  	font-weight: bold;
  }
  .banner-registro img{
  	float:right;
  	padding-top:5px;
  }
  
  
   .banner-registro .leyenda {
  	float:left;
  	margin: 40px 15px;
  }
  
  .banner-registro .leyenda strong{
  	font-size: 15px;
  }
  
  .banner-registro .leyenda p{
  	margin:0;
  	color: #424143;
  	font-size: 12px;
  	max-width: 195px;
  	margin-top:2px;
  }
  
  .banner-registro .registro{
  	background:white;
    color:#424143;
	  border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
    -moz-box-shadow: 0px 2px 3px #969696; /* for Firefox 3.5+ */
	text-decoration:none;
	padding:10px 0;
	margin-top:45px;
	display:block;
	width:120px;
	height:10px;
	float:right;
	text-align:center;
	margin-right:10px;
  }
  
  #header .login{
  	background: url("../img/trama-cuenta.png") repeat-x;
    text-align: center; 
    text-decoration: none;
    color:#424143;
	margin-right:0;
  }
  #header .login form{
	width:80%;
	margin:0 auto;
  }
  
  #header .login h1{
  	margin:0;
  	text-align: center;
  	float: none;
  	padding-top:5px; 
  	padding-bottom: 5px;
  }
  
  #header .login label{
  	float: left;
    line-height: 22px;
    margin-right: 10px;
    text-align: left;
    width: 85px;
  }
   #header .login input[type=text], #header .login input[type=password]{
     	float:left;
		width: 130px;
		border: 0;
		padding:0 5px;
		-moz-border-radius: 10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		margin-bottom:3px;
   }
  #header .login input[type=text]{

  }
  #header .login input[type=password]{
  	
  }
  
  #header .login input[type=submit]{
  	border:0;
  	background: url("../img/trama-verde.png") repeat-x;
  	border-radius: 15px;
    -moz-border-radius: 15px;
    color: white;
    height: 21px;
    text-align: center;
    float:right;
    margin-right:15px;
    width: 80px;
  	margin-top:3px;
  }
  
  #header .login a{
  	color:#424143;
  	text-decoration: none;
  	font-size: 10px;
  	float:right;
  	margin-right: 10px;
  }
  
  .animacion {
	background: #efbf00;
	width: 100%;
	height: 240px;
	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    margin: 5px 0;
    -moz-box-shadow: 2px 2px 3px #969696; /* for Firefox 3.5+ */
    -webkit-box-shadow: 2px 2px 3px #969696; /* for Safari and Chrome */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=3);
  }
  
  #main-content{
	float:left;
	width: 770px;
  }
  
  #main-content ul h2{
	background:#4d4d4d;
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
  }
  
  #left-content{
	float:left;
	width: 200px;
	text-align: center;
  }
  
  #right-content{
	float:left;
	width: 732px;
	margin-left:20px;
	min-height: 177px;
  }
  
  .estilo-borde{
  	width: 100%;
  	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
	-moz-box-shadow: 0px 2px 3px #969696; /* for Firefox 3.5+ */
    -webkit-box-shadow: 0px 2px 3px #969696; /* for Safari and Chrome */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=3);
    background-color:white;
    margin-bottom: 10px;
  }
  
  .medio-de-pago{
  	
  }
  
  .medio-de-pago img{
	margin-bottom:10px;
  }
  
  .social{
  
  }
   
  .social img{
  	margin-bottom:15px;
  }
  
  .seguridad {
    
  }
  
  .ultimo-ganador{
  	padding-bottom:1em;
  }
  
  .proxima-oferta{
  	padding-bottom:1em;
  }
  
  #left-content h1{
  	margin:0;
  }
  
  #left-content p.mensaje{
  	padding-bottom:10px;
  	font-size: 12px;
  }
  
  #left-content .pvp{
  	font-size: 13px;
  	color:#6C6D70;
  }
  
  #left-content .precio{
  	font-size: 20px;
  	color:#ee1a24;
  }
  
  #left-content .fecha{
  	font-size: 20px;
  	color:#ee1a24;
  }
  
  #left-content .usuario{
  	font-size: 13px;
  	color:#6C6D70;
  }
  
  
  #left-content .titulo-verde{
  	background: url("../img/trama-verde.png") repeat-x;
  	height: 33px;
  	line-height:33px;
  	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
  	color:white;
  	font-weight: normal;
  	margin-bottom:10px;
  }
  
  #left-content .titulo-amarillo{
  	background: url("../img/trama-amarillo.png") repeat-x;
  	height: 33px;
  	line-height:33px;
  	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
  	color:#424143;
  	font-weight: normal;
  	margin-bottom:10px;
  }
  
  #right-content h1{
  	margin:0;
  	margin-bottom: 5px;
  }
  
  #right-content .titulo-amarillo{
  	background: url("../img/trama-amarillo.png") repeat-x;
  	height: 32px;
  	line-height:32px;
  	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
	 -webkit-border-radius: 15px 15px 15px 15px;
  	color:#424143;
  	font-weight: normal;
  	text-align: center;
  }
  
  #right-content .boton{
  	background-color: #f8dc38;
  	line-height:20px;
  	border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
  	padding:5px 0;
    width:120px;
    text-decoration: none;
    color:#424143;
    font-weight: bold;
    font-size: 17px;
    display:block;
    margin:0.5em auto 0 auto;
  }
  
  /** Subastas activas **/
  
  #right-content .usuario-ultima-oferta{
  	font-size: 15px;
  }
  
  #right-content .pvp{
  	font-size: 13px;
  	color:#6C6D70;
  }
  
  #right-content .precio{
  	font-size: 20px;
  	color:#ee1a24;
  }
  
  #right-content .contador{
  	font-size: 18px;
  	color:#ee1a24;
  	margin:0.5em 0;
  }
  .pvp, .precio, .contador, .ultimo-usuario{
  	min-height:1em;
  }
  
  #right-content ul{
  	float:left;
	margin-top: 5px;
	text-decoration: none;
	color:#424143;
  }
  
  #right-content ul p{
  	margin:2px 0;
  }

  #right-content ul li{
	display: block;
	float:left;
	width: 234px;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
	border-radius: 15px 15px 15px 15px;
	background-color:white;
    -moz-border-radius: 15px 15px 15px 15px;
	-moz-box-shadow: 0px 2px 3px #969696; /* for Firefox 3.5+ */
    -webkit-box-shadow: 0px 2px 3px #969696; /* for Safari and Chrome */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=3);
    padding:1em 0;
  }

  #right-content ul li.centro{
	margin: 0 15px;
  }

  #right-content ul a:hover {
	color: white;
  }

  #right-content ul img {
  	margin-bottom: 15px;
  	height: 200px;
  	width: 200px;
  }
  

/** Footer**/

#footer{
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	margin-top:10px;
	margin-bottom:10px;
    background: url("../img/trama-verde-footer.png") repeat-x;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	behavior:url("../files/border-radius.htc");
}

#footer_links {
	float: left;
    padding: 1px;
    width: 100%;
}

#footer_links ul {
    padding: 5px 0;
	font-size: 16px;
	text-align: center;
	}

#footer_links li {
	display:inline;
	padding: 5px 15px;
	background: url("../img/linea-separadora-footer.png") left repeat-y;
	}

#footer_links li:first-child {
	background:none;
	}


#footer_links ul a {
	line-height: 24px;
	}	

#footer_links ul a:link, #footer_links ul a:active, #footer_links ul a:visited {
	text-decoration: none;
	font-size: 15px;
	color:white;
	}
#footer_links ul a:hover{
	color:white;
	}

#footer h4{
	font-size: 12px;
	float:left;
	margin-left: 318px;
    margin-top: 15px;
}


/** End Footer **/

/** Formularios **/
.forms{
	padding:20px;
}
.forms form{
	width:65%;
	margin:0 auto;
	padding: 20px 0;
}
.forms .input, .forms .submit{
	display:block;
	clear:both;
	margin: 20px 0;
}
.forms label{
	width:32%;
}
.forms input{
	width:65%;
	display:block;
	float:right;
}
.forms input[type="submit"] {
	clear:both;
    background: url("../img/trama-verde.png") repeat-x scroll 0 0 transparent;
    border: 0 none;
    border-radius: 15px 15px 15px 15px;
    color: white;
    float: right;
    height: 21px;
    margin-right: 15px;
    margin-top: 3px;
    text-align: center;
    width: 80px;
}
.form-container{
	width:469px;
	margin: 0 auto;

	
		
}
.form-container form{
	
}
.form-container .layer{
	border:1px solid #96918E;
	border-radius:10px 10px 10px 10px;
	margin-top:1em;
	padding:1em;
}
.form-container fieldset{
	background:url("../img/trama-cuenta.png") ;
	border-radius: 15px 15px 15px 15px;
	padding:1em;
}
.form-container .input,.form-container .submit{
	margin-top:1em;
	clear: both;
	float:right;
}
.form-container input{

}
.form-container label{
	padding-right: 5px;
}
.form-container .submit input{
	background: url("../img/trama-amarillo.png") repeat-x scroll 0 0 transparent;
	padding:5px 30px;
	border-radius:10px 10px 10px 10px;
	font-weight:bold;
}
.form-container input#UserUsername{
	width:370px;
}
.form-container input#password{
	width:343px;
}
.form-container input#password2{
	width:268px;
}
.form-container input#UserFieldNombres{
	width:360px;
}
.form-container input#UserFieldApellidos{
	width:359px;
}
.form-container input#UserEmail{
	width:288px;
}
.form-container input#UserEmailConfirm{
	width:214px;
}
.form-container input#UserFechaNacimiento{
	
}
.form-container input#UserReferidoPor{
	width:335px;
}




/*INTERFAZ DE USUARIO REGISTRADO*/
.clear{
	clear:both;
}
.datos-usuarios{
	
}
.panel{
	padding:1em 1em;
}
.datos-usuarios .imagen{
	width: 250px;
	min-height:200px;
	float:left;
	border:2px #424143 solid;
}
.datos-usuarios .datos{
	float:left;
	margin-left: 1em;
}
.datos-usuarios .datos span{
	font-weight: bold;
}
.subastas-activas{
	clear:both;
	margin-top: 2em;
}
.subastas-activas h2{
	background:url("../img/trama-amarillo.png") repeat-x scroll 0 0 transparent;
	width:90%;
	margin: 0 auto;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
	margin-bottom: 1em;
	height:2em;
	line-height: 2em;
}
.datos-usuarios .menu a{
	padding:5px;
	background:url("../img/trama-amarillo.png") repeat-x scroll 0 0 transparent;
	border-radius: 10px 10px 10px 10px;
	text-decoration: none;
	color:#424143;
	display:block;
	float:left;
	margin-left:0.5em;
	margin-top: 1em;
}
/*OVERLAY*/
	#register-overlay, #login-overlay{
	
		/* must be initially hidden */
		display:none;
		
		/* place overlay on top of other elements */
		z-index:10000;
		
		/* styling */
		background-color:#333;
		background:url("../img/fondo-overlay.jpg");
		
		width:650px;	
		height:395px;
		border:1px solid #666;
		
		/* CSS3 styling for latest browsers */
		-moz-box-shadow:0 0 90px 5px #000;
		-webkit-box-shadow: 0 0 90px #000;	
	
	}
#register-overlay{
background:url("../img/pantalla-lightbox.jpg");
width:650px;
height:395px;
}
	#register-overlay div.register {
		padding:10px;
		border:1px solid #3B5998;
		background-color:#fff;
		font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
		margin: 0 auto;
	}
	#register-overlay form{
		margin:0;
	}
 	#register-overlay .close, #login-overlay .close {
		background-image:url("../img/close.png");
		position:absolute;
		right:-15px;
		top:-15px;
		cursor:pointer;
		height:35px;
		width:35px;
	}
	#register-overlay h1 , #register-overlay h2{
		color:#4E4E50;
	}
	#register-overlay h1 {
		padding:20px 20px 10px 200px;
		font-size:25px;
		
	}
	#register-overlay h2 {
		padding-left:200px;
		
	}
	#register-overlay h2 span{
		color:#EC3237;
		
	}
	#register-overlay .producto{
		width:482px;
		height:214px;
		float:right;
		margin-top: 20px;
		margin-right: 20px;	
	}
	#register-overlay .banner{
		width:170px;
		height:98px;
		float:left;	
		margin-top:75px;
		background: #B1B1B2;
		font-size:12px;
	}
	#register-overlay .banner h1{
		padding:0;
		font-size:16px;
		margin-bottom: 5px;
	}
	#register-overlay .banner h1,#register-overlay .banner p{
		padding-left:33px;
		padding-right:10px;
		
	}
	
	#register-overlay .imagen{
		width:310px;
		height:214px;
		float:left;	
		border:1px solid #4E4E50;
	}
	#register-overlay .bottom{
		height:60px;
		bottom:0;
		position:absolute;
		font-size:12px;
		width:100%;
	}
	#register-overlay .slogan{
		float:left;
		width:135px;
		margin-left: 20px;
	}
	#register-overlay .slogan span{
		color:#4E4E50;
		display:block;
	}
	#register-overlay .registrate{
		position:absolute;
		width:136px;
		padding-left:46px;
		background-repeat:no-repeat;
		background-position-x: right;
		right: 7px;
		bottom:0;
	}
	#register-overlay .registrate h1{
		padding:0;
		
	}
	.registrate h1 a {
		color:#EC3237;
		text-decoration: none;
	}
/*PANEL SUBASTAS*/
.subastas-activas{
	
}


#right-content  .index  li{
	margin:0 auto 15px auto;	
	min-height:280px;
}
#right-content  ul#user-subastas {
	width:100%;
}
#right-content  #user-subastas  li{
	width:100%;
	margin:0 auto;	
	min-height:280px;
}
.subastas-activas .imagen, .subastas-activas .ofertas, .acciones-ofertas{
	float:left;
	margin: 2%; 
}
.subastas-activas .imagen{
	width:30%;
}
.subastas-activas .ofertas{
	width:25%;
	height:230px;
	overflow: auto;
	font-size: 13px;
}
.ofertas div:nth-child(2n){
	background:gray;
}
.subastas-activas .acciones-ofertas{
	
	width:30%;
	height: 117px;
	margin-top: 81px;
}
.actualizado{
	color:#ee1a24;
}
.fecha_vencimiento, .hora_servidor{
	display:none;
}
#right-content ul#subastas-vendidas  li{
	position:relative;
}
#right-content ul#subastas-vendidas  li .mascara{
	position:absolute;
	width:100%;
	height:100%;
	
	opacity:0.4;
	background: url("../img/vendida.png") white;

}
.banner-home{
  width:100%;
  margin-bottom:1em;
  overflow: hidden;
}
.new{
	background: gray;
}
#compra-creditos{
	margin-left: 1em;
	margin-top: 1em;
}
#right-content #vendido{
	background-color: #EE1A24;
}
.message{
	color:#EE1A24;
	font-weight: bold;
}
.referidos a{
padding: 20px 12px;
font-size:32px;
color:#424143;
text-decoration:none;
display:block;
}

.referidos span{
color:#CB2128;
}
#right-content ul.proximas-subastas li.centro{
	margin-top:15px;
}
#contacto .formulario, #contacto .texto{
	float:left;
	width:45%;
	padding:2.5%;
	position:relative;
}
#contacto h1{
	color:#5DB34A;
	font-size:34px;
	margin:1em 0;
}
#contacto .atrapa{
	display:block;
}
#contacto .atrapa img{
float:right;
}
#contacto label{
	color:#5DB34A;
	width:130px;
	display:block;
	float:left;

}
#contacto form div{
	margin-bottom:0.5em;
}
#contacto  input, #contacto  textarea{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	 border-radius:10px;
	 width:292px;	
	 padding:3px;
}
#contacto  input[type=submit]{
	width:100px;
	float:right;
}
