/*
ESTILOS CSS DE LOS FORMULARIOS DE USUARIO
* */
/*ESTILOS GENERALES*/
.usuarios form{
	
}
.usuarios input{
	
}
.usuarios label{
	
}

.usuarios input{
	
}
.usuarios input[type=submit]{
	
}
.usuarios legend{
	
}
.usuarios h1{
	
}
.usuarios p{
	
}


/*ESTILOS PARTICULARES FORMULARIO DE REGISTRO*/
.register form{
	
}
.register input{
	
}
.register label{
	
}

.register input{
	
}
.register input[type=submit]{
	
}
.register legend{
	
}
.register h1{
	
}
.register p{
	
}
/*ESTILOS PARTICULARES FORMULARIO DE LOGIN*/
.login form{
	
}
.login input{
	
}
.login label{
	
}

.login input{
	
}
.login input[type=submit]{
	
}
.login legend{
	
}
.login h1{
	
}
.login p{
	
}

/*ESTILOS PARTICULARES FORMULARIO DE RECORDAR CONTRASEÑA*/


/*tooltip de errores*/
.error {
	/* supply height to ensure consistent positioning for every browser */
	height:15px;
	background-color:#FFFE36;
	border:1px solid #E1E16D;
	font-size:11px;
	color:#000;
	padding:3px 10px;
	margin-left:-2px;

	z-index: 10000;
	/* CSS3 spicing for mozilla and webkit */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;

	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;
}
.error2{
	z-index: 10000;
	color:red;
	font-size:11px;
}
